:root {
    --main-bg-color: #e1e3e6;
}

html {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}

h2 {
    font-size: 28px;
    border-bottom: 2px solid blue;
}

img {
    margin: 0 auto;
    display: block;
}

body {
    background-color: var(--main-bg-color);
}

nav {
    display: grid;
    padding: 1rem;
    grid-template-columns: 1fr 0.75fr;
    grid-template-rows: 1fr auto;
    background-color: lightblue;
}
    #site-logo a {
        font-size: 30px;
        color: inherit;
        text-decoration: none;
    }
    .burger {
        justify-self: end;
    }
        .burger div {
            width: 30px;
            height: 6px;
            background-color: black;
            margin-bottom: 0.25rem;
            border-radius: 3px;
        }

        .menu-items {
            margin-top: 1rem;
            list-style: none;
            grid-column: 1 / 3;
        }
            .menu-items a {
                font-size: 20px;
                text-align: center;
                text-decoration: none;
                width: 100%;
                display: block;
                padding: 1.2rem 0;
                border-bottom: 1px solid black;
                color: black;
            }
            .menu-items a:hover {
                background-color: pink;
                color: blue;
            }

main {
    margin: 3rem 1rem 0 1rem;
    display: flex;
    flex-direction: column;
}
    main p {
    margin: 1rem 0; 
    }

    .course {
        margin-top: 3em;
        padding-bottom: 3rem;
        border-bottom: 1px solid blue;
    }
        .course:nth-of-type(even) img {
            float: left;
            margin-right: 1rem;
        }
        .course:nth-of-type(odd) img {
            float: right;
            margin-left: 1rem;
        }
    .ads {
        border-top: 1px solid black;
    }
        .ads img{
            margin: 1rem auto;
        }


@media (min-width: 850px) {
    
    nav {
        display: flex;
        padding: 0 2rem;
        justify-content: space-between;
    }
        p {
            align-self: center;
            flex: 1;
        }
        .burger {
            display: none;
        }
        ul.menu-items {
            display: flex;
            margin-top: 0;
            gap: 2rem;
        }
        ul.menu-items a {
            border: none;
            padding: 1rem;
        }
    main {
        flex-direction: row;
        margin: 3rem 8em;
        justify-content: space-around;
    }
        .content {
            width: 70%;
        }

        .fundamental h2,
        .aside {
            border: none;
        }

    footer {
        border-top: 1px solid black;
        padding: 1rem;
    }
}