:root {
    --main-bg-color: #e1e3e6;
    --content-bg-color: aliceblue;
    --primary-color: #4e46c9;
    --secondary-color: #938de8;
    --accent-color: #f27f47;
}

html {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--main-bg-color);
}

h2 {
    border-bottom: 2px solid var(--accent-color);
}

h3 {
}

img {
    margin: 0 auto;
    padding-top: 1rem;
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: var(--primary-color)
}



/* --------nav-------- */
nav {
    display: grid;
    padding: 1rem;
    grid-template-columns: 1fr 0.75fr;
    grid-template-rows: 1fr auto;
    background-color: var(--primary-color);
    color: white;
    align-items: center;
}
    #site-logo a {
        font-size: 30px;
        color: inherit;
    }
    #burger {
        justify-self: end;
    }
        #burger div {
            width: 30px;
            height: 6px;
            background-color: white;
            margin-bottom: 0.25rem;
            border-radius: 3px;
        }

        #menu-items {
            margin-top: 1rem;
            list-style: none;
            grid-column: 1 / 3;
            display: none;
        }
            #menu-items a {
                font-size: 20px;
                text-align: center;
                width: 100%;
                display: block;
                padding: 1.2rem 0;
                border-bottom: 1px solid black;
                color: inherit;
            }
            #menu-items li:last-of-type a {
                border-bottom: none;
            }
            #menu-items a:hover {
                background-color: var(--secondary-color);
            }

/* -------- main -------- */
    main p {
    margin: 1rem 0; 
    }

    .flex-container {
        display: flex;
        flex-direction: column;
        background-color: var(--content-bg-color);
        padding: 3rem 1rem 0 1rem;
    }
        .flex-container h3 {
            padding: 0.2rem 0 0.2rem 0.4rem;
        }

    .content img {
        padding: 1rem 0.8rem 0.6rem;

    }
    aside {
        margin-top: 2rem;
    }
        aside img {
            margin: 0 auto 1rem auto;
            padding-top: 0;
        }
    h2.mini {
        font-size: 22px;   
    }        
    .review.mini {
        display: block;
    }
        .review.mini h3 {
            font-size: 18px;
        }
        .review.mini h4 {
            font-size: 14px;
        }
        .review.mini img {
            width: 50%;
        }
        .review.mini p {
            font-size: 16px;
        }

    /* fundamentals.html */

        .fundamental {
            margin-bottom: 3rem;
        }
            .flex-container h3 {
                border-bottom: 1px solid var(--accent-color);
            }

    /* courses.html */

        .course {
            padding: 2rem 0 0;
        }
            .course:nth-of-type(odd) img {
                float: right;
            }
            .course:nth-of-type(even) img {
                float: left;
            }
        .ads {
            border-top: 1px solid black;
        }
            .ads img{
                margin: 1rem auto;
            }

    /* materials.html */
        .material-list:last-of-type {
            margin-bottom: 1rem;
        }
        .material-list h3 {
            margin: 1.5rem 0 0.5rem 0;
        }
            .left-container .material-list:first-of-type h3 {
                margin-top: 0;
            }
        .material-list li {
            padding-top: 0.25rem;
            margin-left: 1rem;
        }

    /* reviews.html */
        .review {
            padding: 1rem 0;
            margin-bottom: 1rem;
            border-bottom: 2px solid var(--secondary-color);
        }
            .review h3 {
                border-bottom: none;
            }
            .review h4 {
                color: var(--secondary-color);
                padding-left: 1rem;
            }
            .review p {
                margin: 0.5rem;
            }
            .review h3:hover, 
            .review h4:hover, 
            .review img:hover, 
            .review p:hover {
                cursor: pointer;
            }

    
    footer {
        border-top: 1px solid black;
        margin-top: 2rem;
        padding: 1rem;
    }


    

@media (min-width: 850px) {
    
    nav {
        display: flex;
        padding: 0 4.5rem;
        justify-content: space-between;
        flex-wrap: wrap;
    }
        p {
            align-self: center;
            flex: 1;
        }
        #burger {
            display: none;
        }
        ul#menu-items {
            display: flex;
            margin-top: 0;
            gap: 2rem;
        }
        ul#menu-items a {
            border: none;
            padding: 1rem;
        }
        
    .flex-container {
        flex-direction: row;
        margin: 0 4rem;
        padding: 3rem 2em 1rem 3rem;
        gap: 4rem;
    }
        .content {
            width: 75%;
        }
            .content p {
                padding-left: 0.2rem;
            }

            .fundamental h2 {
                padding-left: 1.5rem;
                margin-top: 1rem;
            }
            .fundamental h2,
            .aside {
                border: none;
            }
        .content.material {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
            .material-list h3 {
                background-color: transparent;
            }    
            .right-container .material-list:first-of-type h3 {
                margin-top: 0;
            }
        aside {
            width: 20%;
            margin-top: 0;
        }

            h2.mini {
                font-size: 22px;   
            }        
            .review.mini {
                display: block;
            }
                .review.mini h3 {
                    font-size: 18px;
                }
                .review.mini h4 {
                    font-size: 14px;
                }
                .review.mini img {
                    width: 80%;
                    margin-top: 1rem;
                }
                .review.mini p {
                    font-size: 16px;
                }

        .review {
            display: grid;
            grid-template-columns: 1.25fr 1.75fr;
            grid-template-rows: auto auto auto;
        }
            .review h3 {
                grid-area: 1 / 1 / 2 / 2;
            }
            .review h4 {
                grid-area: 2 / 1 / 3 / 2;
            }
            .review img {
                grid-area: 3 / 1 / 4 / 2;
            }
            .review p {
                grid-area: 3 / 2 / 4 / 3;
                align-self:flex-start;
                margin-top: 1rem;
                font-size: 18px;
            }


        
}